body {
  background-color: white;
}
.hero {
  color: rgb(35, 128, 105);
}

.aboutme {
  color: black;
}
.projects {
  color: black;
}
.skills {
  color: black;
}
.education {
  color: black;
}
.contact {
  color: black;
}
.logo {
  width: 100px;
  height: 100px;
}
